<html>
    <head>
        <title>Kanban for GitHub</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="media/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://www.webtoolkit.info/djs/webtoolkit.base64.js"></script>
        <script type="text/javascript" src="media/js/JSON-js/json2.js"></script>
        <script type="text/javascript" src="media/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="https://raw.github.com/jquery/jquery-tmpl/master/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="media/js/jquery.github-api.js"></script>
<script id="tab-header-template" type="text/x-jquery-tmpl">
    <div id="title">
        Kanban for GitHub
    </div>
    <div id="user-name">
        ${login} |
        <a href="#" id="logout">logout</a>
    </div>
    <img id="user-avatar" src="${avatar_url}" width="35" height="35" alt="andres-torres-marroquin" title="andres-torres-marroquin"/>
</script>

<script id="issue-template" type="text/x-jquery-tmpl">
    <div class="issue ui-widget-content" data-number="${number}">
        <div class="issue-header ui-state-default">
            <a href="${html_url}" class="open-issue" target="_blank">
                <span class="ui-icon ui-icon-search"></span>
                <span class="issue-number">${number}</span>
            </a>
            <div class="issue-assignee">
                {{if assignee}}
                    <img src="${assignee.avatar_url}" width="20" height="20" alt="${assignee.login}" title="${assignee.login}"/>
                {{else}}
                    <span class="issue-assignee-name">Not assigned</span>
                {{/if}}
            </div>
        </div>
        <div class="issue-name ui-widget-content">${title}</div>
        <div class="labels">
            {{html get_labels_display(labels)}}
        </div>
        {{if comments}}
        <div class="comments">
            <span class="ui-icon ui-icon-comment"></span> ${comments} comment{{if comments!=1}}s{{/if}}
        </div>
        {{/if}}
    </div>
</script>

<script id="issue-dialog-template" type="text/x-jquery-tmpl">
    <div id="issue-body">{{html body_html}}</div>
    <div id="issue-assigned">
    {{if assignee}}
        <img src="${assignee.avatar_url}" width="20" height="20" alt="${assignee.login}" title="${assignee.login}"/>
    {{else}}
        <span class="issue-assignee-name">Not assigned</span>
    {{/if}}
    </div>
    <div id="comments">
    </div>
</script>

<script id="phase-template" type="text/x-jquery-tmpl">
    <div id="phase${number}" class="phase ui-widget-content" style="width: ${percentage}%" data-name="${name}">
        <div class="phase-name ui-state-default">
            ${phase_name}
        </div>
        <div class="issues"></div>
    </div>
</script>

<script id="label-template" type="text/x-jquery-tmpl">
    <div style="background: #${color}" class="label"><span class="ui-icon ui-icon-tag"></span>${name}</div>
</script>

<script id="assignee-template" type="text/x-jquery-tmpl">
    {{if assignee}}
        <img src="${assignee.avatar_url}" width="20" height="20" alt="${assignee.login}" title="${assignee.login}"/>
    {{else}}
        <span class="issue-assignee-name">Not assigned</span>
    {{/if}}
</script>

<script id="comment-template" type="text/x-jquery-tmpl">
    {{html body_html}}
</script>
        <script type="text/javascript">
var client = null;

function get_phases(labels) {
    var phases = [];
    $.each(labels, function(i, label){
        if(/Phase #\d+ - .+/.test(label.name))
            phases.push(label);
    });
    phases.sort(function(a, b) {
        if (a.name > b.name) 
            return 1;
        else if (a.name < b.name)
            return -1;
        return 0;
    })
    return phases;
}

function get_labels_display(labels) {
    var temp = $('<div class="labels">')
    $.each(labels, function(i, label){
        if(!/Phase #\d+ - .+/.test(label.name))
            $('#label-template').tmpl(label).appendTo(temp);
    });
    return temp.html();
}

function draw_phases(phases){
    var percentage = 99 / phases.length;
    $('#phases').html('');
    $.each(phases, function(i, phase) {
        phase.number = /\d+/.exec(phase.name);
        phase.percentage = percentage;
        phase.phase_name = phase.name.slice(11);
        $('#phase-template').tmpl(phase).appendTo("#phases");
        draw_issues(phase);
    });
}

function draw_issues(phase) {
    var issues = client.get_issues({labels: phase.name}, 'application/vnd.github-issue.html+json');
    $.each(issues, function(i, issue) {
        $('#issue-template').tmpl(issue).appendTo("#phase" + phase.number + " .issues");
    });
}

function remove_phases(labels) {
    var result = []
    $.each(labels, function(i, label){
        if(!/Phase #\d+ - .+/.test(label.name))
            result.push(label);
    });
    return result;
}

function get_labels_name(labels) {
    var result = []
    $.each(labels, function(i, label){
        if(!/Phase #\d+ - .+/.test(label.name))
            result.push(label.name);
    });
    return result;
}

function start(repo_user, repo_name, auth) {
    client = new GitHubApi(repo_user, repo_name, auth);
    var labels = client.get_labels();
    var phases = get_phases(labels);
    draw_phases(phases);

    $('.issues').sortable({
        connectWith: ".issues",
        distance: 15,
        revert: true,
        opacity: 0.9,
        handle: '.issue-header',
        placeholder: "ui-state-highlight issue-placeholder",
        start: function(event, ui) {
            var height = $(ui.item).height();
            $('.issue-placeholder').height(height - 20 + 4);
        },
        stop: function(event, ui){
            var $element = $(ui.item);
            var number = $element.attr('data-number');
            var phase = $element.parents('.phase').attr('data-name');
            labels = client.get_labels_for_issue(number);
            labels = remove_phases(labels);
            labels = get_labels_name(labels);
            labels.push(phase);
            client.replace_labels_for_issue(number, labels);
        }
    }).disableSelection();

    $('[href=#phases]').click();

    $('#tab-header').html('');
    $('#tab-header-template').tmpl(client.get_authenticated_user()).appendTo('#tab-header');
}

$(function(){
    $('#loginform').submit(function(){
        var $this = $(this);
        var username = $this.find('[name=username]').val();
        var password = $this.find('[name=password]').val();
        var repo_user = $this.find('[name=repo-user]').val();
        var repo_name = $this.find('[name=repo-name]').val();
        var save = $this.find('[name=save]').attr('checked');

        cookie_options = {
            expires: 7 // Expires in seven days after login
        }

        if (save) {
            $.cookie('saved', true, cookie_options);
            $.cookie('username', username, cookie_options);
            $.cookie('password', password, cookie_options);
            $.cookie('repo_user', repo_user, cookie_options);
            $.cookie('repo_name', repo_name, cookie_options);
        }

        var auth = {
            username: username,
            password: password
        };

        try {
            start(repo_user, repo_name, auth);
        } catch(err) {
            alert("Bad credentials");
        }
        return false;
    });

    $('#logout').live('click', function(){
        $.cookie('saved', null);
        $.cookie('username', null);
        $.cookie('password', null);
        $.cookie('repo_user', null);
        $.cookie('repo_name', null);
        location.reload()
        return false;
    });

    $('#tabs').tabs();

    if($.cookie('saved')) {
        var username = $.cookie('username');
        var password = $.cookie('password');
        var repo_user = $.cookie('repo_user');
        var repo_name = $.cookie('repo_name');
        var auth = {
            username: username,
            password: password
        };

        try {
            start(repo_user, repo_name, auth);
        } catch(err) {
            alert("Bad credentials");
        }
    }

/*    $('.open-issue').live('click', function(){
        var issue_number = $(this).parent().parent().attr('data-number');
        var issue = client.get_issue(issue_number, 'application/vnd.github-issue.html+json');
        var rendered = $('#issue-dialog-template').tmpl(issue);
        var title = issue.number + ' - ' + issue.title;
        $("#issue-dialog").html(rendered).dialog('open').dialog('option', 'title', title);
        return false;
    });/**/

    $('#issue-dialog').dialog({
        autoOpen: false,
        modal: true,
        minWidth: 700
    });


});
        </script>
    </head>
    <body>
        <div id="tabs">
            <ul>
                <li><a href="#login">Login</a></li>
                <li><a href="#phases">Phases</a></li>
                <!--li><a href="#labels">Labels</a></li-->
                <div id="tab-header">
                    <div id="title">
                        Kanban for GitHub
                    </div>
                </div>
            </ul>
            <div id="login">
                <form id="loginform">
                    <p>
                        <label for="username"><br />Username
                            <input type="text" name="username" value=""/>
                        </label>
                    </p>
                    <p>
                        <label for="username"><br />Password
                            <input type="password" name="password" value=""/>
                        </label>
                    </p>
                    <p>
                        <label for="username"><br />Repo User
                            <input type="text" name="repo-user" value=""/>
                        </label>
                    </p>
                    <p>
                        <label for="username"><br />Repo Name
                            <input type="text" name="repo-name" value=""/>
                        </label>
                    </p>
                    <p>
                        <label for="save"><br />Save data
                            <input type="checkbox" name="save"/>
                        </label>
                    </p>
                    <input type="submit"/>
                </form>
            </div>
            <div id="phases"></div>
            <!--div id="labels"></div-->
        </div>
        <div id="issue-dialog"></div>
    </body>
</html>
